.modal-enter {
  opacity:.01;
  transform:translateY(5%) scale(.95,.95);
  transition:all .5s ease-out;
}
.modal-enter.modal-enter-active {
    opacity:1;
    transform:translateY(0) scale(1,1);
}
.modal-leave {
  opacity:1;
  transform:translateY(0) scale(1,1);
  transition:all .2s ease-out;
}
.modal-leave.modal-leave-active {
    opacity:.01;
    transform:translateY(5%) scale(.98,.98);
}